# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/
*.egg-info/

# Jupyter
.ipynb_checkpoints/


# VSCode
.vscode/

# Data
*.csv
*.json
*.jsonl
*.txt
*.log

# Model
*.pt
*.ckpt
*.gguf

# OS
Thumbs.db
.DS_Store

# LoRA
Phase 4 - LoRA/kumru-sagopa-lora/
Phase 6 - GGUF/kumru-sagopa-merged/

# Output
output/

# Temporary
*.tmp
*.bak

# Others
LoRAReadyToUseDataSet*.jsonl
OutputBlankEmptyQuestions.jsonl
